<configuration>

    <!-- General System Logger Appender -->
    <appender name="SYSTEM" class="ch.qos.logback.core.FileAppender">
        <file>logs/system.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="SYSTEM"/>
    </root>

    
</configuration>
