<div id="log-results">
    <ul class="log-results__list">
        {#each results}
            <li class="log-results__item">{it}</li>
        {/each}
    </ul>
    <div class="log-results__pagination">
        {#if prevPage}
            <a class="pagination__link pagination__link--prev" hx-get="/logs/search?query={query}&page={prevPage}" hx-target="#log-results" hx-swap="outerHTML" hx-push-url="true">Previous</a>
        {/if}
        {#if nextPage}
            <a class="pagination__link pagination__link--next" hx-get="/logs/search?query={query}&page={nextPage}" hx-target="#log-results" hx-swap="outerHTML" hx-push-url="true">Next</a>
        {/if}
    </div>
</div>
