body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #444;
    margin-top: 20px;
}

.control-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.btn-start, .btn-stop, .btn-search {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
}

.btn-start {
    background-color: #28a745;
}

.btn-stop {
    background-color: #dc3545;
}

.btn-search {
    background-color: #007bff;
}

.energy-level {
    background-color: #fffbdd;
    padding: 10px;
    border-left: 4px solid #ffc107;
    border-radius: 4px;
}

.input-field {
    padding: 8px;
    font-size: 16px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#device-log-results ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
}

#device-log-results ul li {
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

#device-log-results ul li:last-child {
    border-bottom: none;
}

/* Pagination Links */
#device-log-results div {
    display: flex;
    justify-content: space-between;
}

#device-log-results a {
    color: #007acc;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
    border: 1px solid #007acc;
    transition: background-color 0.3s, color 0.3s;
}

#device-log-results a:hover {
    background-color: #007acc;
    color: #fff;
}
